@font-face {
  font-family: "Rubik";
  src: url(/assets/styles/fonts/Rubik-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__menu {
  padding-left: 45px;
  padding-right: 45px;
  background-color: #111111;
}
.header__menu img {
  width: 120px;
  height: 35px;
}
.header__menu .header__nav {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.header__menu .header__nav a {
  font-family: "Rubik";
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.part__info {
  background-image: url("/assets/images/bg.png");
  background-size: 100% 100%;
  width: 100%;
  height: 872px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% auto;
}
.part__info .text__info {
  max-height: 872px;
  padding-left: 64px;
}
.part__info .text__info h1 {
  padding-top: 96px;
  text-transform: uppercase;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 152px;
  color: #FFFFFF;
  position: relative;
}
.part__info .text__info p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 49px;
}
.part__info .text__info h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 100px;
}
.part__info .text__info span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.part__info .picture__info {
  margin-top: -80px;
}
.part__info .picture__info img {
  width: 100%;
  max-width: 900px;
}

.part__shop {
  width: 100%;
  text-align: center;
  background-color: #111111;
  padding-bottom: 40px;
}
.part__shop .title__first {
  padding-top: 110px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
}
.part__shop .title__second {
  padding-top: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #FCB500;
}
.part__shop .price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 18px;
}
.part__shop .price h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
}
.part__shop .price h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  text-decoration: line-through;
}
.part__shop .shop__information {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 2fr 1fr;
  padding-top: 20px;
  justify-items: center;
  padding-bottom: 20px;
}
.part__shop .shop__information h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}
.part__shop .shop__information p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.part__shop .shop__information span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FCB500;
}
.part__shop .shop__information img {
  width: 100%;
}
.part__shop .but__shop {
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  justify-content: center;
  background-color: #FCB500;
  width: 256px;
  height: 56px;
}
.part__shop .but__shop a {
  font-family: "Rubik";
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  color: #111111;
  text-decoration: none;
}

@media (min-width: 250px) and (max-width: 1080px) {
  .header__menu img {
    width: 120px;
    height: 35px;
  }
  .header__menu .header__nav {
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .part__info {
    display: flex;
    height: 80vh;
  }
  .part__info .text__info {
    width: 100%;
    padding-left: 20px;
  }
  .part__info .text__info h1 {
    font-size: 15vw;
  }
  .part__info .picture__info {
    display: none;
  }
}
@media (min-width: 250px) and (max-width: 768px) {
  .part__shop .title__first h2,
.part__shop .title__second h2 {
    font-size: 10vw;
  }
  .part__shop .shop__information {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
  }
}
@media (min-width: 250px) and (max-width: 768px) {
  .part__shop .title__first h2,
.part__shop .title__second h2 {
    font-size: 9vw;
  }
}/*# sourceMappingURL=style.css.map */